{% extends 'base.html' %}
{% block title %}在庫管理ツール{% endblock %}

{% block content %}

{% include 'header.html' %}


        <section class="py-5 border-bottom" id="features">
            <h3>登録順</h3>
            <table width="20%">
                <thead>
                    <tr>
                        <th>品番</th>
                        <th>数量</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in object_list %}
                    <tr>
                        <td>{{ item.product_num }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </section>

{% endblock %}